@import "variables";

.show-page {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: max-content;
  align-content: flex-start;
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.show-data {
  display: flex;
  flex-direction: column;
  a {
    margin-top: 1em;
    &:hover {
      text-decoration: none;
    }
  }
}

.bio {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 1em;
  .desc {
    margin-top: 0.5em;
    @include bodycopy;
  }
}

@include circle-img($show-page-circle);

.circle-txt {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.show-table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.small-archive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.show-archive-table {
  width: 100%;
  border-top: 1px solid $copy;
}

.show-page .fakelink {
  margin-top: 1em;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
